.categoryNavigation{
    margin-top: 0.625rem;
    margin-left: 0.625rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}

.categoryNavigation > *:hover{
    text-decoration: underline;
}

.productContainer{
    margin-top: 1.25rem;
    background-color:beige;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.625rem;
    border: 2px solid black;
    box-shadow: 2.5px 5px black;
    padding: 1.875rem;
    margin-bottom: 3rem;
    
}

.imageAndContent{
    display: flex;
    width: 100%;
}

.imageContainer{
    width: 50%;
    position: relative;
    height:28vw;
    background-color: white;
    border: 1px solid black;
}

.content{
    width: 50%;
    flex:1;
    display: flex;
    flex-direction: row;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    overflow: hidden;

    /* padding-left: 0.625rem; */
}

.briefProductInfo{
    padding: 0.4rem;
    flex:7;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: center; */
    background-color: white;
}

.userInfoContainer{
    padding: 0.5rem;
    padding-top: 1rem;
    background-color: white;
    flex:4; 
    border-left: 2px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    /* text-align: center; */
}

.userInfo{
    background-color: antiquewhite;
    padding: 0.5rem;
    border-radius: 0.8rem;
    user-select: none;
}

.sendMessageContainer{
    background-color: antiquewhite;
    padding: 0.5rem;
    border-radius: 0.8rem;
    transition: transform .4s;
    user-select: none;
    cursor: pointer;
}

.sendMessageContainer:hover{
    transform: scale(1.15)
}

.userInfo > *{
    display: block;
}


.descriptionContainer{
    margin-top: 1rem;
}

.descriptionContainer > h2{
    text-align: center;
    margin-top: 1rem;

}

.commentsMainContainer{
    border-top: 2px black dotted;
    padding-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textBoxContainer{
    width: 80%;
}

.form{
    width: 100%;
}

.form button{
    float: right;
    width: 6rem;
    margin-top: 1rem;
}


.textArea{
    width: 100%;
}

.commentsContainer{
    width: 100%;
}

.commentsContainer div{
    margin-top: 1.2rem;
    padding: 0.5rem;
    width: 100%;
    border: 2px gray solid;
}

.commentsContainer h7{
    font-weight: bold;
    text-decoration: underline;
}

.commentsContainer span{
  font-size: small;
}


