.categoryNavigation{
    margin-top: 0.625rem;
    margin-left: 0.625rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}

.categoryNavigation > *:hover{
    text-decoration: underline;
}

.productContainer{
    margin-top: 1.25rem;
    background-color:beige;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.625rem;
    border: 2px solid black;
    box-shadow: 2.5px 5px black;
    padding: 1.875rem;
}

.imageAndContent{
    display: flex;
    width: 100%;
}

.imageContainer{
    width: 50%;
    position: relative;
    height:28vw;
    background-color: white;
    border: 1px solid black;
}

.content{
    width: 50%;
    flex:1;
    display: flex;
    flex-direction: row;
    /* padding-left: 0.625rem; */
}

.briefProductInfo{
    padding: 0.4rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: aqua;
}

.userInfo{
    padding: 0.4rem;
    background-color: brown;
    width: 50%;
}

.descriptionContainer{
    margin-top: 1rem;
    border-top: 2px black dotted;
}

.descriptionContainer > h2{
    text-align: center;
    margin-top: 1rem;

}

