@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

html,
body {
  padding: 0 !important; 
  margin: 0 !important;
  font-family: 'Lato', sans-serif !important;
  background-color: #c9c0bb !important;
}

*{
  margin:0 ;
  padding: 0 
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

* {
  box-sizing: border-box !important;
}

.btn-primary{
  padding: 0rem;
}