.footer{
    border-bottom: 2px black solid;
    border-top: 2px black solid;
}

.navbar{
    border-bottom: 2px black solid;
    border-top: 2px black solid;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 10rem;
}

.linksdiv{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.linksdiv > *{
    cursor: pointer;
}

.linksdiv > *:hover{
    text-decoration: underline;
}

.logodiv{
    flex: 1;
    margin-left: 5rem;
}

.logo{
    object-position: left;
    object-fit: contain;
    width: 100%;
}

@media screen and (max-width: 992px) {
    .navbar {
      flex-direction: column;
    }
    .linksdiv > *{
        margin-top: 10rem;
        margin-bottom: 10rem;
    }
  }