.mainNavContainer{
    position:sticky;
    top: 0;
    width: 100%;
    z-index: 5;
}

.navbar{
    border-bottom: 2px black solid;
    border-top: 2px black solid;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 0.625rem;
    height: 9rem;
    background-color: black;
    color:white;
}

.linksdiv{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.linksdiv > *{
    cursor: pointer;
}

.linksdiv > *:hover{
    text-decoration: underline;
}

.logodiv{
    flex: 1;
    margin-left: 0.313rem;
    position: relative;
    align-items: center;
    object-position: center;
    justify-content:center;
    align-content:center;
    /* background-color: aqua; */
}

.logo{
    object-position: left;
    object-fit: contain;
    width: 100%;
}

.footer{
    border-bottom: 2px black solid;
    border-top: 2px black solid;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.footer div{
    display: flex;
    flex-direction: column;
    flex:1;
    align-items: center;
    justify-content: baseline;
    margin-top: 0.938rem;
    margin-bottom: 0.938rem;
}

.footer h5{
    text-decoration: underline;
    text-align: center;
}

.footer ul{
    list-style:none;
    margin-top: 0.625rem;
    display: flex;
    flex-direction: column;
    padding-left: 0; 
}


.footer ul li{
    margin-top: 0.5rem;
    align-self: center;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

/* .ul {
    
} */

.footerLogoContainer{
    position: relative;
}

@media screen and (max-width: 777px) {
    .linksdiv{
        flex-direction:column;
        
    }
    .linksdiv > h5:first-child{
        display: none;
    }
    .linksdiv > *{
        margin-top: .625rem;
        margin-bottom: .625rem;
    }
    .logo{
        object-position: center;
    }
    .footerLogoContainer{
        display: none;
        visibility:hidden;
        position: absolute;
    }
  }

  @media screen and (max-width: 474px) {

    .logodiv{
        flex: 2;
    }
    .footer{
        flex-direction: column;
    } 
    .footer ul{
        margin-top: 0;
    }

  }