.mainContainer{
    width: 100%;
    font-size: 1.25rem;
}

.formContainer{
    width: 100%;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
}

.eachInputAndLabel{
    display: inline-flex;
    text-align: left;
    width: 20%;
    justify-content: space-between;
    margin-top: .625rem;
}

.preTechnicalDetailsContainer{
    width: 100%;
}

.technicalDetailsContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



